{% extends 'Website/common/base.html' %}
{% load static %}

{% block head %}
    <title>Reviews</title>
{% endblock %}

{% block content %}


<div role="main" class="main">
    <section class="section section-with-shape-divider page-header page-header-modern page-header-lg border-0 my-0 lazyload" data-bg-src="{% static 'img/demos/business-consulting-3/backgrounds/background-5.jpg' %}" style="background-size: cover; background-position: center;">
        <div class="container pb-5 my-3">
            <div class="row mb-4">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="font-weight-bold text-color-dark text-10">Reviews</h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="demo-business-consulting-3.html">Black Water</a></li>
                        <li class="active">Reviews</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shape-divider shape-divider-bottom shape-divider-reverse-x" style="height: 123px;">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 123" preserveAspectRatio="xMinYMin">
                <polygon fill="#F3F3F3" points="0,90 221,60 563,88 931,35 1408,93 1920,41 1920,-1 0,-1 " />
                <polygon fill="#FFFFFF" points="0,75 219,44 563,72 930,19 1408,77 1920,25 1920,-1 0,-1 " />
            </svg>
        </div>
    </section>
    <div class="container pt-3 mt-4">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-9 text-lg-5 text-xl-9 line-height-3 text-transform-none font-weight-semibold mb-4 mb-lg-3 mb-xl-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">Black Water Credit Repair Services Reviews</h2>
                <p class="text-3-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type..</p>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <div class="blog-posts single-post">
                    <div class="tabs tabs-bottom tabs-center tabs-simple">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tabsNavigationSimple1" data-bs-toggle="tab">Reviews (12)</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tabsNavigationSimple2" data-bs-toggle="tab">Comments (300)</a>
                            </li>
                            
                        </ul>
                    </div>

                    @*<div class="d-flex"><h4 class="mb-3 mr-4" style="margin-right:30px">Reviews (12)</h4><h4 class="mb-3 ml-4">Comments (3)</h4></div>
                    <hr class="mt-0 pt-0" />*@

                    <div class="row  justify-content-center">
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tabsNavigationSimple1">
                                    <div class="card" style="background: #FAFAFC;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-md-8 d-flex">
                                                            <span class="w-50">
                                                                200+ Reviews
                                                            </span>
                                                            <input type="text" class="rating-invisible w-100" value="5" title="" data-plugin-star-rating data-plugin-options="{'color': 'dark', 'size':'xs'}">
                                                        </div>
                                                        <div class="col-md-4 text-right">
                                                            <a class="text-warning"><i class="fa fa-plus mr-2"></i> Add Review</a>
                                                        </div>
                                                    </div>
                                                    <hr class="mt-0 pt-0" />
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="font-weight-bold">WELL PEOPLE LIKED THE MOST</p>
                                                    <p>Well Kerned Feature Rich</p>
                                                    <p>Unique Style Easy to Use</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="progress-bars mt-4">
                                                        <ol>
                                                            <li>
                                                                <div class="progress mb-2">
                                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                                                                        <span class="sr-only">90% Complete</span>
                                                                    </div>

                                                                </div>

                                                            </li>
                                                            <li>
                                                                <div class="progress mb-2">
                                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                                        <span class="sr-only">80% Complete</span>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                            <li>
                                                                <div class="progress mb-2">
                                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                                                        <span class="sr-only">70% Complete</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="progress mb-2">
                                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                                                        <span class="sr-only">60% Complete</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="progress mb-2">
                                                                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                                        <span class="sr-only">50% Complete</span>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                        </ol>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <article class="post post-large blog-single-post border-0 m-0 p-0">


                                        <div class="post-content ms-0">

                                            <div id="comments" class="post-block mt-5 post-comments">

                                                <ul class="comments">
                                                    <li>
                                                        <div class="comment">
                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                <img class="avatar" alt="" src="{% static 'img/avatars/avatar-2.jpg' %}">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-arrow"></div>
                                                                <span class="comment-by">
                                                                    <strong>John Doe</strong><button class="btn btn-success m-lg-2 py-1">Your Review</button>
                                                                    <span class="float-end">
                                                                       <input type="text" class="rating-invisible w-100" value="5" title="" data-plugin-star-rating data-plugin-options="{'color': 'dark', 'size':'xs'}">
                                                                    </span>
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                                                <span class="date float-start"><i class="fa fa-edit mr-4"></i> <i class="fa fa-trash"></i></span>    <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                            </div>
                                                        </div>

                                                        <ul class="comments reply">
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="" src="{% static 'img/avatars/avatar-3.jpg' %}">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>John Doe</strong>
                                                                            <span class="float-end">
                                                                               <input type="text" class="rating-invisible w-100" value="5" title="" data-plugin-star-rating data-plugin-options="{'color': 'dark', 'size':'xs'}">
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                        <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="" src="{% static 'img/avatars/avatar-4.jpg' %}">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>John Doe</strong>
                                                                            <span class="float-end">
                                                                               <input type="text" class="rating-invisible w-100" value="5" title="" data-plugin-star-rating data-plugin-options="{'color': 'dark', 'size':'xs'}">
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                        <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <div class="comment">
                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                <img class="avatar" alt="" src="{% static 'img/avatars/avatar.jpg' %}">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-arrow"></div>
                                                                <span class="comment-by">
                                                                    <strong>John Doe</strong>
                                                                    <span class="float-end">
                                                                       <input type="text" class="rating-invisible w-100" value="5" title="" data-plugin-star-rating data-plugin-options="{'color': 'dark', 'size':'xs'}">
                                                                    </span>
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="comment">
                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                <img class="avatar" alt="" src="{% static 'img/avatars/avatar.jpg' %}">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-arrow"></div>
                                                                <span class="comment-by">
                                                                    <strong>John Doe</strong>
                                                                    <span class="float-end">
                                                                       <input type="text" class="rating-invisible w-100" value="5" title="" data-plugin-star-rating data-plugin-options="{'color': 'dark', 'size':'xs'}">
                                                                    </span>
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>


                                        </div>
                                    </article>

                                </div>
                                <div class="tab-pane" id="tabsNavigationSimple2">
                                    <article class="post post-large blog-single-post border-0 m-0 p-0">


                                        <div class="post-content ms-0">

                                            <div id="comments" class="post-block mt-5 post-comments">

                                                <ul class="comments">
                                                    <li>
                                                        <div class="comment">
                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                <img class="avatar" alt="" src="{% static 'img/avatars/avatar-2.jpg' %}">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-arrow"></div>
                                                                <span class="comment-by">
                                                                    <strong>John Doe</strong>
                                                                    <span class="float-end">
                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                                    </span>
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                                                <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                            </div>
                                                        </div>

                                                        <ul class="comments reply">
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="" src="{% static 'img/avatars/avatar-3.jpg' %}">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>John Doe</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                        <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="" src="{% static 'img/avatars/avatar-4.jpg' %}">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>John Doe</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                        <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <div class="comment">
                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                <img class="avatar" alt="" src="{% static 'img/avatars/avatar.jpg' %}">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-arrow"></div>
                                                                <span class="comment-by">
                                                                    <strong>John Doe</strong>
                                                                    <span class="float-end">
                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                                    </span>
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="comment">
                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                <img class="avatar" alt="" src="{% static 'img/avatars/avatar.jpg' %}">
                                                            </div>
                                                            <div class="comment-block">
                                                                <div class="comment-arrow"></div>
                                                                <span class="comment-by">
                                                                    <strong>John Doe</strong>
                                                                    <span class="float-end">
                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Reply</a></span>
                                                                    </span>
                                                                </span>
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                <span class="date float-end">January 12, 2021 at 1:38 pm</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>

                                            <div class="post-block mt-5 post-leave-comment">
                                                <h4 class="mb-3">Leave a comment</h4>
                                                <form class="contact-form p-4 rounded bg-color-grey" action="php/contact-form.php" method="POST">
                                                    <div class="p-2">
                                                        <div class="row">
                                                            <div class="form-group col-lg-6">
                                                                <label class="form-label required font-weight-bold text-dark">Full Name</label>
                                                                <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" required>
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label class="form-label required font-weight-bold text-dark">Email Address</label>
                                                                <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col">
                                                                <label class="form-label required font-weight-bold text-dark">Comment</label>
                                                                <textarea maxlength="5000" data-msg-required="Please enter your message." rows="8" class="form-control" name="message" required></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col mb-0">
                                                                <input type="submit" value="Post Comment" class="btn btn-primary btn-modern" data-loading-text="Loading...">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </article>

                                </div>
                               
                            </div>



                        </div>
                        <div class="col-md-10">

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}