{% extends 'Website/common/base.html' %}
{% load static %}

{% block head %}
    <title>Responsbility</title>
{% endblock %}

{% block content %}

<div role="main" class="main">

    <section class="section section-with-shape-divider page-header page-header-modern page-header-lg border-0 my-0 lazyload" data-bg-src="{% static 'img/demos/business-consulting-3/backgrounds/background-5.jpg' %}" style="background-size: cover; background-position: center;">
        <div class="container pb-5 my-3">
            <div class="row mb-4">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="font-weight-bold text-color-dark text-10">Corporate Responsibility</h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a href="demo-business-consulting-3.html">Black Water</a></li>
                        <li class="active"> Our Firm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shape-divider shape-divider-bottom shape-divider-reverse-x" style="height: 123px;">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 123" preserveAspectRatio="xMinYMin">
                <polygon fill="#F3F3F3" points="0,90 221,60 563,88 931,35 1408,93 1920,41 1920,-1 0,-1 " />
                <polygon fill="#FFFFFF" points="0,75 219,44 563,72 930,19 1408,77 1920,25 1920,-1 0,-1 " />
            </svg>
        </div>
    </section>
    <div class="container pt-3 mt-4">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h2 class="text-9 text-lg-5 text-xl-9 line-height-3 text-transform-none font-weight-semibold mb-4 mb-lg-3 mb-xl-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250">Corporate responsibility</h2>
                <p class="text-3-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type..</p>
            </div>
        </div>

    </div>

    <section id="whoweare" class="section section-with-shape-divider bg-transparent border-0 m-0">
        <!-- @*<div class="shape-divider shape-divider-bottom" style="height: 102px;">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 102" preserveAspectRatio="xMinYMin">
                <path fill="#F7F7F7" d="M1895,78c-56.71-6.03-113.75-12.1-167-17c-75.42-6.94-133.81-10.66-171-13c-62.1-3.91-108.85-5.97-155-8
                                c-35.96-1.58-78.06-3.42-133-5c-59.81-1.72-103.18-2.23-172-3c-92.17-1.03-154.41-1.01-169-1c-69.05,0.05-115.16,0.67-137,1
                                c-43.08,0.65-76.21,1.48-97,2c-28.02,0.7-71.13,1.8-128,4c-16.64,0.64-57.72,2.28-111,5c-26.12,1.33-67.11,3.45-121,7
                                c-21.14,1.39-54.21,3.59-96,7c-19.93,1.63-39.22,3.32-47,4c-16.12,1.41-33.55,2.94-55,5c-26.48,2.54-19.07,2.04-77,8
                                c-19.39,1.99-36.94,3.77-60.59,7.46V103H1923V81C1916.55,80.3,1906.82,79.26,1895,78z" />
            </svg>
        </div>*@ -->
        <div class="container mt-2 mb-5 pb-5">
            <div class="row align-items-center mb-4">
                <div class="col-lg-5 mb-5 mb-lg-0">
                 
                    <h3 class="text-color-secondary font-weight-bold text-transform-none line-height-2 text-10 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                         <span class="text-1 d-block">Consumer advocacy</span>
                    </h3>
                    <p class="custom-font-secondary text-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p class="pb-1 mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s..</p>
                    <a href="demo-cleaning-services-about.html" class="btn btn-primary btn-modern font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1800">VIEW MORE</a>
                </div>
                <div class="col-sm-10 col-lg-6 offset-sm-1 ps-sm-5 ps-lg-0">
                    <div class="position-relative">
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                            <img src="{% static 'Images/Black Water logo/Image_39.png' %}" class="img-fluid rounded-circle custom-box-shadow-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1800" alt="" />
                        </div>
                       
                        <div class="position-absolute top-50pct left-50pct transform3dxy-n50" style="left: 25%;">
                            <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                                <img src="{% static 'Images/Black Water logo/NoPath_-_Copy_21.png' %}" class="img-fluid rounded-circle custom-box-shadow-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1400" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-2 mb-5 pb-5">
            <div class="row align-items-center mb-4">
                <div class="col-sm-10 col-lg-6 offset-sm-1 ps-sm-5 ps-lg-0">
                    <div class="position-relative">
                        <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                            <img src="{% static 'Images/Black Water logo/NoPath_-_Copy_20.png' %}" class="img-fluid rounded-circle custom-box-shadow-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1800" alt="" />
                        </div>
                        <div class="position-absolute top-50pct left-50pct transform3dxy-n50" style="left: 25%;">
                            <div data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'transition': true, 'transitionDuration': 1000, 'isInsideSVG': true}">
                                <img src="{% static 'Images/Black Water logo/NoPath_-_Copy_21.png' %}" class="img-fluid rounded-circle custom-box-shadow-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1400" alt="" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 mb-5 mb-lg-0">
                   
                    <h3 class="text-color-secondary font-weight-bold text-transform-none line-height-2 text-10 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                        <span class="text-1 d-block">Consumer advocacy</span>
                    </h3>
                    <p class="custom-font-secondary text-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p class="pb-1 mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s..</p>
                    <a href="demo-cleaning-services-about.html" class="btn btn-primary btn-modern font-weight-bold text-3 px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1800">VIEW MORE</a>
                </div>
            </div>
        </div>


    </section>

    <section class="section border-0 py-4 m-0">
        <div class="container">
            <div class="row align-items-end pb-3 mb-5 mb-lg-4">
                <div class="col-lg-7 col-xl-8 mb-4 mb-lg-0">
                   
                    <h3 class="text-color-secondary font-weight-bold text-transform-none text-center text-8 mb-3 pb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">Our Services</h3>
                </div>
               
            </div>
            <div class="row appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="2000">
                <div class="col">
                    <div class="owl-carousel nav-outside nav-arrows-1 custom-carousel-box-shadow-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 2}, '979': {'items': 3}, '1199': {'items': 3}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': false, 'nav': true, 'loop': false, 'margin': 20, 'stagePadding': '75'}">
                        <div>
                            <a href="demo-cleaning-services-services-detail.html" class="text-decoration-none">
                                <div class="card custom-card-style-1">
                                    <div class="card-body text-center py-5">
                                        <div class="custom-card-style-1-image-wrapper bg-primary rounded-circle d-inline-block mb-3">
                                            <img src="{% static 'Images/NoPath_-_Copy_22.png' %}" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <h4 class="custom-card-style-1-title text-color-secondary font-weight-bold mb-2">Building Services</h4>
                                        <p class="custom-card-style-1-description">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. </p>
                                        <span class="custom-card-style-1-link font-weight-bold">VIEW MORE</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="demo-cleaning-services-services-detail.html" class="text-decoration-none">
                                <div class="card custom-card-style-1">
                                    <div class="card-body text-center py-5">
                                        <div class="custom-card-style-1-image-wrapper bg-primary rounded-circle d-inline-block mb-3">
                                            <img src="{% static 'Images/NoPath_-_Copy_21.png' %}" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <h4 class="custom-card-style-1-title text-color-secondary font-weight-bold mb-2">Post Construction</h4>
                                        <p class="custom-card-style-1-description">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. </p>
                                        <span class="custom-card-style-1-link font-weight-bold">VIEW MORE</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="demo-cleaning-services-services-detail.html" class="text-decoration-none">
                                <div class="card custom-card-style-1">
                                    <div class="card-body text-center py-5">
                                        <div class="custom-card-style-1-image-wrapper bg-primary rounded-circle d-inline-block mb-3">
                                            <img src="~/Assets/Images/NoPath_-_Copy_23.png" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <h4 class="custom-card-style-1-title text-color-secondary font-weight-bold mb-2">Office Cleaning</h4>
                                        <p class="custom-card-style-1-description">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. </p>
                                        <span class="custom-card-style-1-link font-weight-bold">VIEW MORE</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div>
                            <a href="demo-cleaning-services-services-detail.html" class="text-decoration-none">
                                <div class="card custom-card-style-1">
                                    <div class="card-body text-center py-5">
                                        <div class="custom-card-style-1-image-wrapper bg-primary rounded-circle d-inline-block mb-3">
                                            <img src="{% static 'Images/NoPath_-_Copy_22.png' %}" class="img-fluid rounded-circle" alt="" />
                                        </div>
                                        <h4 class="custom-card-style-1-title text-color-secondary font-weight-bold mb-2">Building Services</h4>
                                        <p class="custom-card-style-1-description">Cras a elit sit amet leo accumsan volutpat. Suspendisse hendrerit vehicula leo, vel efficitur felis ultrices non. </p>
                                        <span class="custom-card-style-1-link font-weight-bold">VIEW MORE</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}